<!DOCTYPE html>
<html ng-app="takeTheLead">

<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="keywords" content="Take the Lead, Fort Lauderdale, Dog Training, Dog Walking">
  	<meta name="description" content="Take the Lead Fort Lauderdale / An Individualized Guided Approach to Common Dog Walking Problems">
	<meta name="language" content="english">

    <title>Take The Lead Fort Lauderdale / An Individualized Guided Approach to Common Dog Walking Problems</title>

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <!-- inject:css -->
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/bio.css">
    <link rel="stylesheet" href="/css/contact.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/services.css">
    <!-- endinject -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <!--<script src="https://code.angularjs.org/1.4.8/angular-animate.js"></script>-->

	<script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.0/noframework.waypoints.min.js"></script>
	<script src="bower_components/angular-waypoints/dist/angular-waypoints.min.js"></script>

	<script src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js "></script>
	<script src="//cdn.jsdelivr.net/jquery.localscroll/1.4.0/jquery.localScroll.min.js"></script>
    <script>
    // Picture element HTML5 shiv
      document.createElement( "picture" );
    </script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/picturefill/3.0.2/picturefill.min.js" async></script>

    <!-- inject:js -->
    <script src="/js/app.js"></script>
    <script src="/js/mainCtrl.js"></script>
    <script src="/js/mainService.js"></script>
    <!-- endinject -->

	<script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer>
    </script>

</head>

<body id="top" ng-controller="mainCtrl as Main">

  <div class="container">

    <div class="fixed-navbar">
      <div class="name-navbar">
        <a id="name-fixednav" href="#top" ng-click="deactivateMobileNavbar()">Take the Lead Fort Lauderdale</a>
      </div>
      <div class="ul-navbar">
        <ul>
          <li><a id="about-fixednav" href="#about" ng-class="{highlight: waypoints.inAbout.down}">About Take The Lead</a></li>
          <li><a id="bio-fixednav" href="#bio" ng-class="{highlight: waypoints.inBio.down}">About The Trainer</a></li>
          <li><a id="services-fixednav" href="#services" ng-class="{highlight: waypoints.inServices.down}">Services and Pricing</a></li>
          <li><a id="contact-fixednav" href="#contact" ng-class="{highlight: waypoints.inContact.down}">Contact</a></li>
        </ul>
      </div>
      <div class="mobile-navbar-icon" ng-click="Main.activateMobileNavbar()">
				&#9776;
      </div>
    </div>

    <div class="mobile-navbar" ng-show="Main.mobileNavbarSelected" ng-click="Main.deactivateMobileNavbar()">
      <ul>
        <li><a id="about-mobilenav" href="#about" ng-class="{highlight: waypoints.inAbout.down}">About Take The Lead</a></li>
        <li><a id="bio-mobilenav" href="#bio" ng-class="{highlight: waypoints.inBio.down}">About The Trainer</a></li>
        <li><a id="services-mobilenav" href="#services" ng-class="{highlight: waypoints.inServices.down}">Services and Pricing</a></li>
        <li><a id="contact-mobilenav" href="#contact" ng-class="{highlight: waypoints.inContact.down}">Contact</a></li>
      </ul>
    </div>

    <div class="home">

      <!--Picturefill image display-->
      <picture>
        <source srcset="images/Red_320.jpg, images/Red_640.jpg 2x" media="(max-width: 320px) and (orientation: portrait)">
        <source srcset="images/Dusty&Red_320.jpg, images/Dusty&Red_640.jpg 2x" media="(max-width: 320px) and (orientation: landscape)">
        <source srcset="images/Red_400.jpg, images/Red_800.jpg 2x" media="(max-width: 400px) and (orientation: portrait)">
        <source srcset="images/Dusty&Red_400.jpg, images/Dusty&Red_800.jpg 2x" media="(max-width: 400px) and (orientation: landscape)">
        <source srcset="images/Red_438.jpg, images/Red_875.jpg 2x" media="(max-width: 438px) and (orientation: portrait)">
        <source srcset="images/Dusty&Red_438.jpg, images/Dusty&Red_875.jpg 2x" media="(max-width: 438px) and (orientation: landscape)">
        <source srcset="images/Dusty&Red_500.jpg, images/Dusty&Red_1000.jpg 2x" media="(max-width: 500px) ">
        <source srcset="images/Dusty&Red_550.jpg, images/Dusty&Red_1100.jpg 2x" media="(max-width: 550px) ">
        <source srcset="images/Dusty&Red_640.jpg, images/Dusty&Red_1280.jpg 2x" media="(max-width: 640px) ">
        <source srcset="images/Dusty&Red_800.jpg" "images/Dusty&Red_1600.jpg 2x" media="(max-width: 800px)">
        <source srcset="images/Dusty&Red_1280.jpg" media="(max-width: 1280px)">
        <img class="home-background" srcset="images/Dusty&Red_1920.jpg" alt="Dusty & Red">
      </picture>

    </div>

    <div class="scrollable-content">

      <div class="pic-text">
        <h1>Welcome to Take The Lead in Fort&nbsp;Lauderdale!</h1>
      </div>

      <div class="home-buttons">
        <a id="home-button1" class="button1" href="#about">Learn How</a>
        <a id="home-button2" class="button2" href="#bio">Meet the Trainer</a>
      </div>

      <div class="main-content">

		<div id="about" zum-waypoint="waypoints" down="inAbout.down" up="inAbout.up" offset="10%">
          <h1>About "Take The Lead"</h1>
            <h2>Calm Owner, Calm Dog, Calm Home</h2>
            <img ng-src="images/Dog_Walking_Front.jpg" alt="Dog walking from front">
          <div class="about-text">
              <h3>“Take The Lead” offers an individualized guided approach to common dog walking problems. Our commonsense approach focuses on working on your dog’s behaviors where they occur the most, in your home and in your neighborhood. Our methods are fluid and flexible adapting to the owner's and dog's individuality.</h3>
              <h3>With a calm owner and dog, clear communication, structure, and consistency, you can create the relationship that you want so that your dog will naturally follow your lead in everyday situations.</h3>
              <h4>We at “Take The Lead” believe that there is not a one size fits all in working with your dog. We will assess the needs of your dog and work with you on a plan that will enhance your inner pack leader.</h4>
              <h4>If you are looking for a dog who fits into your lifestyle and is a well-mannered, adjusted member of your family, look no further than "Take The Lead."  </h4>
            </div>
          </div>
          <div zum-waypoint="waypoints" down="inAbout.up" up="inAbout.down" offset="10%"></div>

		  <div id="bio" zum-waypoint="waypoints" down="inBio.down" up="inBio.up" offset="10%">
            <h1>About The Trainer</h1>
            <h2>Commonsense dog training for the real world</h2>
            <div class="bio-text">
              <div class="bio-pic1">
                <img ng-src="images/Tina_Face.jpg" alt="Tina">
              </div>
              <p>After working as a MSW clinical social worker for many years, Tina Alderman left her career for her dream of working with dogs. Along with owning a <a href="http://houndsabouttown.com" target="_blank">successful pet care company</a> in Boston for over ten years, she volunteered at the local shelters and dog training facilities, increasing her skills and knowledge.</p>
              <p>Tina rescued a high-energy, powerful cattle dog named Red from a local trainer. She realized that treats and obedience training weren't working for Red. Treats made Red more excited, and hours of exercising left him unfulfilled.</p>
              <div class="bio-pic2">
                <img ng-src="images/Tina_Cesar_Red.jpg" alt="Tina, Cesar, & Red">
              </div>
              <p>After attending Cesar Millan’s intensive <a href="http://trainingcesarsway.com/fundamentals" target="_blank">Fundamentals of Dog Behavior</a> class, it finally all came together for Tina. The most powerful tool was her own energy.  “The way I projected my energy was directly affecting Red becoming a follower and ultimately, a happy, adjusted, member of our family.”</p>
              <p>Tina says that she wasn’t born a natural leader but has been able to move out of her comfort zone, determined to fulfill her own pet’s needs and the needs of her clients and their dogs.</p>
              <p>Tina moved to Fort Lauderdale in 2014 and volunteers at the "Training Cesar’s Way Fundamentals" course at The Country Inn Pet Resort in Fort Lauderdale.</p>
            </div>
          </div>
          <div zum-waypoint="waypoints" down="inBio.up" up="inBio.down" offset="10%"></div>
          <div id="services" zum-waypoint="waypoints" down="inServices.down" up="inServices.up" offset="10%">
            <h1>Services and Pricing</h1>
            <div class="packages">
              <div id="services-home" class="ttl-home" ng-class="{slider: waypoints.inServices.down  && !Main.servicesSlid}">
                <h2>Take the lead in your home</h2>
                <img ng-src="images/Dog_at_Home.jpg" alt="Dog at Home">
                <p>Through our “Take the Lead in your home” program, our overall mission is to help you reach your goal of living with a dog who is a calm, adjusted, well-mannered member of your family.</p><p>We work with you in your home on on issues such as excitement that can lead to jumping, mouthing and other unwanted behaviors. We also work on your dog's fears, anxieties, chewing, and excessive barking.</p>
                <h3>$100 Initial Consultation</h3>
                <h3>$85 follow up visits *</h3>
                <h4>* There are no required packages.  We will discuss different options during the initial consultation to meet the needs for you and your dog. </h4>
                <div class="button">
                  <a href="#contact">Book Now</a>
                </div>
              </div >
              <div id="services-walk" class="ttl-walk" ng-class="{slider: waypoints.inServices.down && !Main.servicesSlid}">
                <h2>Take the lead on your walk</h2>
                <img ng-src="images/Dog_Walking_Back.jpg" alt="Dog walking from the back">
                <ul>
                  <li>Do you avoid taking your dog out at certain times of the day?</li>
                  <li>Is your dog pulling or lunging on the leash?</li>
                  <li>Is your dog fearful or avoidant of certain situations?</li>
                </ul>
                <p>We will work with your dog one on one initially in your neighborhood to assess the situation and address the behaviors, then include you on the walks and empower you to embrace your inner pack leader.</p>
                <h3>$30 for 30 minutes</h3>
                <h3>$50 for 60 minutes</h3>
                <div class="button">
                  <a href="#contact">Book Now</a>
                </div>
              </div>
            </div>
          </div>
		  <div zum-waypoint="waypoints" down="inServices.up" up="inServices.down" offset="10%"></div>
		  <div id="contact" zum-waypoint="waypoints" down="inContact.down" up="inContact.up" offset="10%">
            <h1>Contact "Take The Lead"</h1>
            <h2>Call "Take The Lead" today at (954) 649-6421</h2>
            <h2>Or email us at <a href="mailto:tina.alderman@gmail.com">tina.alderman@gmail.com</a></h2>
            <h2>Or fill out the contact form below</h2>
            <div class="contact-form-container">
              <div class="contact-form">
                <form ng-submit="Main.contactForm()">
                  <div class="name">
                    <input id="name" type="text" ng-model="Main.contact.name" placeholder="Name" ng-class="{highlight: Main.emptyField.name}">
                  </div>
                  <div class="phone">
                    <input id="phone" type="tel" ng-model="Main.contact.phone" placeholder="Phone">
                  </div>
                  <div class="email">
                    <input id="email" type="email" ng-model="Main.contact.email" placeholder="Email" ng-class="{highlight: Main.emptyField.email}">
                  </div>
                  <div class="email-again">
                    <input id="email-again" type="email" ng-model="Main.contact.emailAgain" placeholder="Re-enter Email" ng-class="{highlight: Main.emptyField.emailAgain}">
                  </div>
                  <div class="match-error" ng-show="Main.emailMatchError">
                    Emails don't match
                  </div>
                  <div class="subject">
                    <input id="subject" type="text" ng-model="Main.contact.subject" placeholder="Subject"></textarea>
                  </div>
                  <div class="message">
                    <textarea id="message" ng-model="Main.contact.message" placeholder="Message" ng-class="{highlight: Main.emptyField.message}"></textarea>
                  </div>
                  <div class="submit" ng-hide="Main.inRecaptcha">
                    <input class="button" type="submit" value="Submit">
                  </div>
                  <div id="recaptcha-widget" ng-show="Main.inRecaptcha">
                  </div>
                  <div class="user-msg" ng-class="{green: Main.formSuccess, red: !Main.formSuccess}" ng-show="Main.userMsg">
					<span class="inner-msg">
                      {{Main.userMsg}}
				    </div>
				  </div>
                </form>
              </div>
		    </div>
		  </div>
		</div>
      </div>
	</div>

  </body>

</html>

