$browser-font-size: 16px;
$container-font-size: 75%;

/* Navbar */
$navbar-background: #fff;
$navbar-color: #404040;
$navbar-hover-highlight: #e86659;
$sidenav-background-color: rgb(128, 12, 0);

/* Home */
$home-color: #fff;
$home-font-size: 4em;
$home-button-one-color: #ff7300;
$home-button-one-hover-highlight: #ff2000;
$home-button-two-color: #5f00ff;
$home-button-two-hover-highlight: #d500ff;

