@import 'variables';

#about {
  height: $about-height;
  padding-top: 100px;
  color: $about-color;
  background: $about-background;
  font-family: 'Helvetica', sans-serif;
  font-size: $about-font-size;
  text-align: center;

  h1 {
    color: $about-h1-color;
    font-size: $about-font-size;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  h2 {
    color: $about-h2-color;
    font-size: $about-font-size - .7;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  img {
    padding: 20px 0;
    width: 250px;
    float: left;
    margin-right: 20px;
    margin-left: 10px;
  }

  .about-text {
    text-align: left;
    padding: 0 10px;

    h3 {
      font-size: $about-font-size - 1;
      color: $about-h3-color;
      margin-bottom: 20px;
    }

    h4 {
      font-size: $about-font-size - 1.25;
      margin-bottom: 15px;
    }
  }

  @media screen and (max-width: 1280px) {
    font-size: $about-font-size * .9;
    height: $about-height * 1.1;
  }

  @media screen and (max-width: 800px) {
    font-size: $about-font-size * .8;
  }

  @media screen and (max-width: 800px) and (orientation: portrait) {
    height: $about-height * 1.2;
  }

  @media screen and (max-width: 800px) and (orientation: landscape) {
    height: $about-height * 1.6;
  }

  @media screen and (max-width: 640px) {
    font-size: $about-font-size * .7;
    padding-top: 150px;

    img {
      float: none;
      margin-right: 0;
      width: 200px;
    }
  }

  @media screen and (max-width: 640px) and (orientation: portrait) {
    height: $about-height * 1.4;
  }

  @media screen and (max-width: 640px) and (orientation: landscape) {
    height: $about-height * 2.1;
  }

  @media screen and (max-width: 400px) {
    font-size: $about-font-size * .6;
    height: $about-height * 1.5;
  }

  @media screen and (max-width: 300px) {
    height: $about-height * 1.8;
  }
}
