@import 'variables';

#bio {
  height: $bio-height;
  padding-top: 100px;
  color: $bio-color;
  background: $bio-background;
  font-family: 'Helvetica', sans-serif;
  font-size: $bio-font-size;
  text-align: center;

  h1 {
    color: $bio-h1-color;
    font-size: $bio-font-size;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  h2 {
    color: $bio-h2-color;
    font-size: $bio-font-size - .6;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  .bio-text {
    text-align: left;
    padding: 0 10px;

    p {
      font-size: $bio-font-size - 1.2;
      color: $bio-p-color;
      margin-bottom: 20px;
    }
  }

  .bio-pic1 {
    img {
      padding: 20px 0;
      width: 200px;
      float: right;
      margin-right: 10px;
      margin-left: 20px;
    }
  }

  .bio-pic2 {
    img {
      padding: 20px 0;
      width: 200px;
      float: left;
      margin-right: 20px;
      margin-left: 10px;
    }
  }

  @media screen and (max-width: 1280px) {
    font-size: $bio-font-size * .9;
    height: $bio-height * 1.1;
  }

  @media screen and (max-width: 1000px) {
    height: $bio-height * 1.2;
  }

  @media screen and (max-width: 800px) {
    font-size: $bio-font-size * .8;
  }

  @media screen and (max-width: 640px) and (orientation: portrait) {
    font-size: $bio-font-size * .7;
    height: $bio-height * 1.8;
    padding-top: 150px;

    .bio-pic1, .bio-pic2 {
      text-align: center;

      img {
        width: 150px;
        float: none;
        margin: 0;
      }
    }
  }

  @media screen and (max-width: 640px) and (orientation: landscape) {
    height: $bio-height * 2.7;
  }

  @media screen and (max-width: 400px) {
    font-size: $bio-font-size * .6;

    .bio-pic1, .bio-pic2 {
      img {
        width: 100px;
      }
    }
  }

  @media screen and (max-width: 300px) {
    height: $bio-height * 1.9;
  }
}
