@import 'variables';

#contact {
  height: $contact-height;
  padding-top: 150px;
  margin-bottom: 50px;
  font-family: 'Helvetica', sans-serif;
  font-size: $contact-font-size;
  text-align: center;

  h1 {
    color: $contact-h1-color;
    font-size: $contact-font-size;
    text-transform: uppercase;
    margin-bottom: 30px;
  }

  h2 {
    color: $contact-h2-color;
    font-size: $contact-font-size - 1.2;
    text-transform: uppercase;
    margin-bottom: 20px;

    a {
      overflow-wrap: break-word;
      word-wrap: break-word;
    }
  }

  .contact-form-container {
    position: relative;
    height: $contact-height - 50;
  }

  .contact-form {
    position: absolute;
    height: 700px;
    width: 700px;
    top: 50px;
    left: 50%;
    background: none;
    margin-left: -350px;

    form {
      width: inherit;
    }

    div {
      position: absolute;
      background: $contact-form-input-background;

      &.name {
        top: 0;
        left: 0;
        height: 50px;
        width: 320px;
      }

      &.phone {
        top: 0;
        right: 0;
        height: 50px;
        width: 320px;
      }

      &.email {
        top: 120px;
        left: 0;
        height: 50px;
        width: 320px;
      }

      &.email-again {
        top: 120px;
        right: 0;
        height: 50px;
        width: 320px;
      }

      &.subject {
        top: 240px;
        left: 0;
        height: 50px;
        width: 700px;
      }

      &.message {
        top: 360px;
        left: 0;
        height: 300px;
        width: 700px;
      }

      &.submit {
        position: absolute;
        top: 720px;
        left: 50%;
        height: 50px;
        width: 120px;
        margin-left: -60px;
        padding: 0;

        :hover {
          cursor: pointer;
        }
      }
    }

    .user-msg {
      position: absolute;
      top: 690px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-family: Arial;
      font-size: 1em;
      font-weight: bold;
      left: 0;
      right: 0;
      padding: 5px;
      background: initial;

      .inner-msg {
        background: #fff;
        height: 30px;
        line-height: 30px;
        padding: 0 5px;
      }
    }

    .button {
      font-family: Arial;
      font-size: 1.2em;
      color: white;
      background-color: rgb(81, 50, 203);
      width: inherit;
    }

    .match-error {
      position: absolute;
      top: 180px;
      left: 0;
      padding: 5px;
      color: red;
      font-family: Arial;
      font-weight: bold;
      font-size: 1em;
    }

    .green {
      color: green;
    }

    .red {
      color: red;
    }
  }

  #recaptcha-widget {
    position: absolute;
    top: 720px;
    background: initial;

    div {
      padding-left: 0;
      background: initial;

      div {
        background: initial;
      }
    }
  }

  input {
    height: inherit;
    width: inherit;
    background: inherit;
    border: 0;
    padding-left: 5px;
    color: $contact-form-input-color;
    font-family: Arial;
    font-size: $contact-font-size - 1.5;

    &:focus {
      outline: none;
    }

    &:required {
      box-shadow: none;
    }
  }

  textarea {
    padding-top: 5px;
    padding-left: 5px;
    height: inherit;
    width: inherit;
    background: inherit;
    border: 0;
    color: $contact-form-input-color;
    font-family: Arial;
    font-size: $contact-font-size - 1.5;

    &:focus {
      outline: none;
    }

    &:required {
      box-shadow: none;
    }
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    font-family: Arial;
    font-size: $contact-font-size - 1.3;
    color: $contact-form-placeholder-color;
  }

  ::-moz-placeholder { /* Firefox 19+ */
    font-family: Arial;
    font-size: $contact-font-size - 1.3;
    color: $contact-form-placeholder-color;
  }

  :-ms-input-placeholder { /* IE 10+ */
    font-family: Arial;
    font-size: $contact-font-size - 1.3;
    color: $contact-form-placeholder-color;
  }

  :-moz-placeholder { /* Firefox 18- */
    font-family: Arial;
    font-size: $contact-font-size - 1.3;
    color: $contact-form-placeholder-color;
  }

  @media screen and (max-width: 1280px) {
    font-size: $contact-font-size * .9;
  }

  @media screen and (max-width: 850px)  {

    font-size: $contact-font-size * .8;
    height: $contact-height * 1.3;

    .contact-form {
      height: 700px;
      width: 320px;
      margin-left: -160px;

      div {
        &.name {
          height: 30px;
          width: inherit;
        }

        &.phone {
          top: 80px;
          left: 0;
          height: 30px;
          width: inherit;
        }

        &.email {
          top: 160px;
          height: 30px;
          width: inherit;
        }

        &.email-again {
          top: 240px;
          height: 30px;
          width: inherit;
          left: 0;
        }

        &.subject {
          top: 320px;
          height: 30px;
          width: inherit;
        }

        &.message {
          top: 400px;
          left: 0;
          height: 230px;
          width: inherit;
        }

        &.submit {
          top: 700px;
        }
      }

      .user-msg {
        top: 660px;

        .inner-msg {
          height: 60px;
        }
      }

      .match-error {
        top: 280px;
      }
    }

    #recaptcha-widget {
      top: 700px;
    }
  }

  @media screen and (max-width: 340px)  {

    font-size: $contact-font-size * .7;

    .contact-form {
      width: 240px;
      margin-left: -120px;
     }
  }

  @media screen and (max-width: 280px)  {

    input {
      padding-left: 15px;
    }

    textarea {
      padding-left: 15px;
    }
  }
}
