@import 'variables';

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: Arial;
  font-size: $browser-font-size;
}

.container {
  max-width: 100vw;
  font-size: $container-font-size;
}

p {
  font-family: 'Helvetica', sans-serif;
  font-size: 1em;
  margin-top: 0;
}

a {
  text-decoration: none;
  color: rgb(0, 255, 155);

  &:hover {
    color: crimson;
  }
}

.fltlft {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
}

@keyframes slide-right {
  from {
    position: relative;
    right: 70px;
  }
  to {
    position: relative;
    right: 0;
  }
}

@keyframes slide-left {
  from {
    position: relative;
    left: 70px;
  }
  to {
    position: relative;
    left: 0;
  }
}

