@import 'variables';

.home {
  position: fixed;
  top: 50px;
  margin-top: 0;
  margin-bottom: 20px;
  width: 100%;
  background: black;
  text-align: center;
  font-size: $home-font-size;

  .home-background {
    opacity: .8;
    z-index: -1;
    width: 100%;
    height: 120vh;

    @media screen and (max-width: 800px) {
      height: 100vh;
    }

    @media screen and (max-width: 640px) {
      height: 95vh;
    }

    @media screen and (max-width: 400px) {
      height: 700px;
    }
  }
}

.scrollable-content {
  position: relative;
  top: 140px;
  left: 0;
  width: inherit;

  .pic-text {
    z-index: 1;
    width: 100%;
    font-family: Arial;
    font-size: $home-font-size;
    color: $home-color;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 30px;

    h1 {
      margin: 0;
      padding: 0 7px;
    }

    @media screen and (max-width: 1280px) {
      font-size: $home-font-size * .75;
    }

    @media screen and (max-width: 800px) {
      font-size: $home-font-size * .55;
    }

    @media screen and (max-width: 640px) {
      font-size: $home-font-size * .45;
    }

    @media screen and (max-width: 400px) {
      font-size: $home-font-size * .35;
    }
  }

  .home-buttons {
    display: flex;
    z-index: 1;
    width: 100%;
    height: 50px;
    align-items: center;
    justify-content: center;
    font-family: Arial;
    font-size: $home-font-size - 3.5;
    color: $home-color;
    text-transform: uppercase;

    a {
      color: inherit;
    }

    .button1 {
      display: flex;
      width: 17%;
      margin-right: 15px;
      height: inherit;
      background-color: $home-button-one-color;
      align-items: center;
      justify-content: center;
      text-align: center;
      animation: slide-right 1s 0s 1 ease;

      &:hover {
        background-color: $home-button-one-hover-highlight;
      }
    }

    .button2 {
      display: flex;
      width: 17%;
      height: inherit;
      background-color: $home-button-two-color;
      align-items: center;
      justify-content: center;
      text-align: center;
      animation: slide-left 1s 0s 1 ease;

      &:hover {
        background-color: $home-button-two-hover-highlight;
      }
    }

    @media screen and (max-width: 1280px) {
      font-size: $home-font-size - 3.7;
    }

    @media screen and (max-width: 800px) {
      font-size: $home-font-size - 3.9;
    }

    @media screen and (max-width: 640px) {
      font-size: $home-font-size - 4.1;
    }
  }

  @media screen and (max-width: 640px) {
    top: 180px;

    .home-buttons {
      #home-button1, #home-button2 {
        animation: initial;
      }
    }
  }
}

.main-content {
  margin-top: 500px;
}
